<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewBag.Title - CVBuilder</title>

    <!-- estilos css de librerias -->
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="~/lib/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" />
    <link href="~/device-mockups/device-mockups.min.css" rel="stylesheet" />

    <!-- estilos propios -->
    <link href="~/css/new-age.css" rel="stylesheet" />
    <link href="~/css/site.css" type="text/css" rel="stylesheet" />

</head>

<body id="page-top">
    <!-- Barra de navegación -->
    <nav id="mainNav" class="navbar navbar-expand-lg navbar-light fixed-top navbar-shrink">
        <div class="container justify-content-center">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <div class="navbar-brand"><img src="~/img/cvbuilder_icon.png" width="24" alt="cvbuilder_logo" /> CVBuilder</div>
                @*<span class="btn btn-sm btn-outline-default btn-myaccount">Acceder <i class="fas fa-sign-in-alt"></i></span>*@
            </button>
            <div id="navbarResponsive" class="collapse navbar-collapse text-center">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")" title="Ir a página principal"><img src="~/img/cvbuilder_icon.png" width="24" alt="cvbuilder_logo" /> CVBuilder</a>
                <hr />
                <ul class="navbar-nav ml-auto text-center">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#landing_page">Comenzar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#features">Características</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#templates">Plantillas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#testimonials">Testimonios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#download">Descargas</a>
                    </li>
                </ul>
                <hr />
                
                @if (Request.IsAuthenticated)
                {
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-default btn-myaccount dropdown-toggle" data-toggle="dropdown" title="@User.Identity.Name">Mi cuenta</button>
                        <div class="dropdown-menu" x-placement="bottom-start">
                            <a class="dropdown-item disabled"><i class="fas fa-user"></i> @User.Identity.Name</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@Url.Action("Build", "Curriculum")"><i class="fas fa-marker"></i> Editar curriculum</a>
                            <a class="dropdown-item" href="@Url.Action("Finished", "Curriculum")"><i class="fas fa-print"></i> Imprimir/guardar como PDF</a>
                            <div class="dropdown-divider"></div>
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "account_user_logoff" }))
                            {
                                @Html.AntiForgeryToken()
                                <button class="dropdown-item" type="submit"><i class="fas fa-sign-out-alt"></i> Salir</button>
                            }
                        </div>
                    </div>
                }
                else
                {
                    var qs = Request.QueryString["ReturnUrl"];
                    <a href="@Url.Action("SignIn", "Account", new { returnUrl = (qs != null) ? qs : Request.Url.PathAndQuery })" class="btn btn-sm btn-outline-default btn-myaccount">Acceder <i class="fas fa-sign-in-alt"></i></a>
                }
            </div>
        </div>
    </nav>

    <!-- Contenido del sitio -->
    <div class="body-content">
        @RenderBody()
    </div>

    <!-- Pie de página -->
    <footer>
        <div class="container">
            <p class="social-media"><a href="#" title="Síguenos en Facebook" alt="facebook_link"><i class="fab fa-facebook-square"></i></a> <a href="#" title="Síguenos en Twitter" alt="twitter_link"><i class="fab fa-twitter"></i></a> <a href="#" title="Suscríbete en Youtube" alt="youtube_link"><i class="fab fa-youtube"></i></a></p>
            <p>&copy; CVBuilder @DateTime.Now.Year. All Rights Reserved.</p>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="#">Privacy</a>
                </li>
                <li class="list-inline-item">
                    <a href="#">Terms</a>
                </li>
                <li class="list-inline-item">
                    <a href="#">FAQ</a>
                </li>
            </ul>
        </div>
    </footer>

    <!-- scripts de librerias -->
    <script src="~/lib/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="~/lib/jquery/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/lib/jquery/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
    <script src="~/lib/jquery/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="~/lib/jquery-easing/jquery.easing.min.js" type="text/javascript"></script>

    <!-- scripts propios -->
    <script src="~/js/site.js" type="text/javascript"></script>
    @RenderSection("home_index", false)
    @RenderSection("account_signin", false)
    @RenderSection("curriculum_build", false)
    @RenderSection("curriculum_finished", false)
</body>
</html>
