@model CVBuilder.ViewModels.Curriculum.CertificatesViewModel

@using (Ajax.BeginForm("Certificates", "Curriculum", new AjaxOptions() { HttpMethod = "POST", OnSuccess = "onSectionFormSuccessful", OnFailure = "onErrorSubmit" }, new { id = Model.FormId }))
{
    <hr />
    <fieldset>
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.CertificateID)
        @Html.HiddenFor(m => m.Type)
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group"> 
                    <label>Nombre del certificado</label> 
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Instituto / establecimiento</label>
                    @Html.TextBoxFor(m => m.Institute, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Institute, null, new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        @Html.CheckBoxFor(m => m.OnlineMode, new { @class = "custom-control-input" })
                        <label class="custom-control-label" for="OnlineMode">Por internet</label>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="custom-control custom-checkbox">
                                @Html.CheckBoxFor(m => m.InProgress, new { @class = "custom-control-input" })
                                <label class="custom-control-label" for="InProgress">En la actualidad</label>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            @Html.DropDownListFor(m => m.Year, Model.Period.Years, new { @class = "custom-select" })
                            @Html.ValidationMessageFor(m => m.Year, null, new { @class = "text-danger" })
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>Información adicional</label>
                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = "3", placeholder = "Máximo 300 caracteres..." })
                    @Html.ValidationMessageFor(m => m.Description, null, new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </fieldset>

    <div class="row">
        <div class="col">
            <div class="btn-group btn-block">
                <button type="submit" class="btn btn-sm btn-outline-success"><i class="fas fa-check"></i> Hecho</button>&nbsp;
                <button type="button" class="btn btn-sm btn-outline-danger remove-form-block"><i class="far fa-trash-alt"></i> Eliminar</button>
            </div>
        </div>
    </div>
}
