@model CVBuilder.ViewModels.Curriculum.CustomSectionsViewModel

@using (Ajax.BeginForm("CustomSections", "Curriculum", new AjaxOptions() { HttpMethod = "POST", OnSuccess = "onSectionFormSuccessful", OnFailure = "onErrorSubmit" }, new { id = Model.FormId }))
{
    <hr />
    <fieldset>
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.CustomSectionID)
        @Html.HiddenFor(m => m.Type)
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>Nombre de la sección</label>
                    @Html.TextBoxFor(m => m.SectionName, new { @class = "form-control", placeholder = "Ej: Emprendimientos" })
                    @Html.ValidationMessageFor(m => m.SectionName, null, new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>Descripción</label>
                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = "10", placeholder = "Sin límite de caracteres..." })
                    @Html.ValidationMessageFor(m => m.Description, null, new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </fieldset>

    <div class="row">
        <div class="col">
            <div class="btn-group btn-block">
                <button type="submit" class="btn btn-sm btn-outline-success"><i class="fas fa-check"></i> Hecho</button>&nbsp;
                <button type="button" class="btn btn-sm btn-outline-danger remove-form-block"><i class="far fa-trash-alt"></i> Eliminar</button>
            </div>
        </div>
    </div>
}
