@model CVBuilder.ViewModels.Curriculum.FinishedViewModel
@using CVBuilder.Common
<link href="~/css/templates/elegant.css" rel="stylesheet" type="text/css" />

<div class="col-auto page">
    <div class="row">
        <div class="col-4 left-panel">
            <div class="row">
                <div class="col text-center">
                    <img class="img-fluid rounded-circle" src="@Model.PersonalDetails.Photo" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h1 class="title">Contacto</h1>
                    <hr class="mw-100" />
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <i class="fas fa-map-marker-alt"></i>
                </div>
                <div class="col-10">
                    <span>@if (Model.PersonalDetails.Location != null) { @(Model.PersonalDetails.Location) }</span>
                </div>
            </div>

            @if (Model.PersonalDetails.MobilePhone != null || Model.PersonalDetails.LinePhone != null)
            {
                <div class="row">
                    <div class="col-2">
                        <i class="fas fa-phone-volume"></i>
                    </div>
                    <div class="col-10">
                        @if (Model.PersonalDetails.MobilePhone != null) {<span>@Model.PersonalDetails.MobilePhone</span>}
                        @if (Model.PersonalDetails.LinePhone != null) {<span>@Model.PersonalDetails.LinePhone</span>}
                    </div>
                </div>
            }
            
            <div class="row">
                <div class="col-2">
                    <i class="fas fa-globe-americas"></i>
                </div>
                <div class="col-10">
                    <span>@Model.PersonalDetails.Email</span>
                    @if (Model.PersonalDetails.WebPageUrl != null) {<span>@Model.PersonalDetails.WebPageUrl</span>}
                </div>
            </div>

            @if (Model.Skills.Count() > 0)
            {
                <div class="row">
                    <div class="col">
                        <h1 class="title">Habilidades</h1>
                        <hr class="mw-100" />
                    </div>
                </div>
                foreach (var skill in Model.Skills)
                {
                    <div class="row">
                        <div class="col">
                            <span class="letter-spacing-1 text-uppercase">@skill.Name</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-@skill.Level" role="progressbar"></div>
                            </div>
                        </div>
                    </div>
                }
            }

            @if (Model.Languages.Count() > 0)
            {
                <div class="row">
                    <div class="col">
                        <h1 class="title">Idiomas</h1>
                        <hr class="mw-100" />
                    </div>
                </div>
                foreach (var language in Model.Languages)
                {
                    <div class="row">
                        <div class="col">
                            <span class="letter-spacing-1 text-uppercase">@language.Name</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-@language.Level" role="progressbar"></div>
                            </div>
                        </div>
                    </div>
                }
            }

            @if (Model.PersonalDetails.FacebookUrl != null || Model.PersonalDetails.TwitterUrl != null || Model.PersonalDetails.LinkedInUrl != null || Model.PersonalDetails.GithubUrl != null)
            {
                <div class="row">
                    <div class="col">
                        <h1 class="title">Redes sociales</h1>
                        <hr class="mw-100" />
                    </div>
                </div>

                if (Model.PersonalDetails.FacebookUrl != null)
                {
                    <div class="row">
                        <div class="col-2">
                            <i class="fab fa-facebook-square"></i>
                        </div>
                        <div class="col-10">
                            <span>@Model.PersonalDetails.FacebookUrl</span>
                        </div>
                    </div>
                }

                if (Model.PersonalDetails.TwitterUrl != null)
                {
                    <div class="row">
                        <div class="col-2">
                            <i class="fab fa-twitter"></i>
                        </div>
                        <div class="col-10">
                            <span>@Model.PersonalDetails.TwitterUrl</span>
                        </div>
                    </div>
                }

                if (Model.PersonalDetails.LinkedInUrl != null)
                {
                    <div class="row">
                        <div class="col-2">
                            <i class="fab fa-linkedin"></i>
                        </div>
                        <div class="col-10">
                            <span>@Model.PersonalDetails.LinkedInUrl</span>
                        </div>
                    </div>
                }

                if (Model.PersonalDetails.GithubUrl != null)
                {
                    <div class="row">
                        <div class="col-2">
                            <i class="fab fa-github"></i>
                        </div>
                        <div class="col-10">
                            <span>@Model.PersonalDetails.GithubUrl</span>
                        </div>
                    </div>
                }

            }
        </div>
        <div class="col-8 right-panel">
            <div class="row">
                <div class="col">
                    <h1 class="text-uppercase">@Model.PersonalDetails.Name @Model.PersonalDetails.LastName</h1>
                    <h5 class="occupation text-uppercase">Diseñador gráfico</h5>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h1 class="title"><i class="far fa-calendar-check"></i> @(Model.PersonalDetails.SummaryCustomTitle ?? CurriculumGlobals.DEFAULT_SUMMARY_TITLE)</h1>
                    <hr class="mw-100" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>@Model.PersonalDetails.Summary</p>
                </div>
            </div>

            @if (Model.WorkExperiences.Count() > 0)
            {
                <div class="row">
                    <div class="col">
                        <h1 class="title"><i class="fas fa-briefcase"></i> Experiencia laboral</h1>
                        <hr class="mw-100" />
                    </div>
                </div>
                foreach (var work in Model.WorkExperiences)
                {
                    <div class="row">
                        <div class="col-4">
                            <span class="block-title">@work.Company</span>
                            @if (work.StateInTime != string.Empty) {<span class="block-subtitle">@work.StateInTime</span>}
                        </div>
                        <div class="col-7 offset-1">
                            <span class="block-title text-uppercase">@work.Job</span>
                            <span class="block-subtitle">@work.City</span>
                            @if (!string.IsNullOrWhiteSpace(work.Description)) {<p>@work.Description</p>}
                        </div>
                    </div>
                }
            }

            @if (Model.Certificates.Count() > 0)
            {
                <div class="row">
                    <div class="col">
                        <h1 class="title"><i class="fas fa-graduation-cap"></i> Certificados</h1>
                        <hr class="mw-100" />
                    </div>
                </div>
                foreach (var certificate in Model.Certificates)
                {
                    <div class="row">
                        <div class="col-4">
                            <span class="block-title">@certificate.Institute</span>
                            @if (certificate.InProgress)
                            {
                                <span class="block-subtitle">@CurriculumGlobals.CERTIFICATE_INPROGRESS_TEXT</span>
                            }
                            else
                            {
                                <span class="block-subtitle">@certificate.Year</span>
                            }
                        </div>
                        <div class="col-7 offset-1">
                            <span class="block-title text-uppercase">@certificate.Name</span>
                            @if (certificate.OnlineMode)
                            {
                                <span class="block-subtitle">@CurriculumGlobals.CERTIFICATE_ONLINE_TEXT</span>
                            }
                            else
                            {
                                <span class="block-subtitle">@CurriculumGlobals.CERTIFICATE_CLASS_TEXT</span>
                            }

                            @if (!string.IsNullOrWhiteSpace(certificate.Description)) { <p>@certificate.Description</p> }
                        </div>
                    </div>
                }
            }

            @if (Model.Studies.Count() > 0)
            {
                <div class="row">
                    <div class="col">
                        <h1 class="title"><i class="fas fa-graduation-cap"></i> Estudios</h1>
                        <hr class="mw-100" />
                    </div>
                </div>
                foreach (var study in Model.Studies)
                {
                    <div class="row">
                        <div class="col-4">
                            <span class="block-title">@study.Institute</span>
                            @if (!string.IsNullOrWhiteSpace(study.StateInTime)) {<span class="block-subtitle">@study.StateInTime</span>}
                        </div>
                        <div class="col-7 offset-1">
                            <span class="block-title text-uppercase">@study.Title</span>
                            <span class="block-subtitle">@study.City</span>
                            @if (!string.IsNullOrWhiteSpace(study.Description)) { <p>@study.Description</p> }
                        </div>
                    </div>
                }
            }

            @if (Model.PersonalReferences.Count() > 0)
            {
                <div class="row">
                    <div class="col">
                        <h1 class="title"><i class="far fa-file-alt"></i> Referencias personales</h1>
                        <hr class="mw-100" />
                    </div>
                </div>
                foreach (var reference in Model.PersonalReferences)
                {
                    <div class="row">
                        <div class="col-4">
                            <span class="block-title">@reference.Company</span>
                            @if (reference.PhoneNumber != null) {<span class="block-subtitle">@reference.PhoneNumber</span>}
                        </div>
                        <div class="col-7 offset-1">
                            <span class="block-title text-uppercase">@reference.ContactPerson</span>
                            <span class="block-subtitle">@reference.Email</span>
                        </div>
                    </div>
                }
            }

            @if (Model.Interests.Count() > 0)
            {
                <div class="row">
                    <div class="col-5">
                        <span class="block-title text-uppercase">Intereses</span>
                    </div>
                    <div class="col-7">
                        <p>
                            @{
                                List<string> text = new List<string>();
                                foreach (var interest in Model.Interests)
                                {
                                    text.Add(interest.Name);
                                }
                                @String.Join(", ", text);
                            }
                        </p>
                    </div>
                </div>
            }

            @if (Model.CustomSections.Count() > 0)
            {
                foreach (var custom in Model.CustomSections)
                {
                    <div class="row">
                        <div class="col">
                            <h1 class="title"><i class="far fa-file-alt"></i> @custom.SectionName</h1>
                            <hr class="mw-100" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="white-space-pre-wrap">@custom.Description</p>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>