@model CVBuilder.ViewModels.Curriculum.InterestsViewModel

@using (Ajax.BeginForm("Interests", "Curriculum", new AjaxOptions() { HttpMethod = "POST", OnSuccess = "onSectionFormSuccessful", OnFailure = "onErrorSubmit" }, new { id = Model.FormId }))
{
    <hr />
    <fieldset>
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.InterestID)
        @Html.HiddenFor(m => m.Type)
        <div class="row">
            <div class="col-10">
                <div class="form-group">
                    <label>Nombre de la actividad</label>
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Ej: Jugar" })
                    @Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-2 text-right">
                <button type="button" class="btn btn-sm btn-outline-secondary border-0 close-block" title="Cerrar">
                    <i class="fas fa-times h4 mb-0"></i>
                </button>
            </div>
        </div>
    </fieldset>

    <div class="row">
        <div class="col">
            <div class="btn-group btn-block">
                <button type="submit" class="btn btn-sm btn-outline-success"><i class="fas fa-check"></i> Hecho</button>&nbsp;
                <button type="button" class="btn btn-sm btn-outline-danger remove-form-block"><i class="far fa-trash-alt"></i> Eliminar</button>
            </div>
        </div>
    </div>
}
