@model CVBuilder.ViewModels.Curriculum.FinishedViewModel
@using CVBuilder.Common
<link href="~/css/templates/modern.css" rel="stylesheet" type="text/css" />

<div class="col-auto page">
    <div class="row cv-header">
        <div class="col-5 text-right justify-content-center align-self-center">
            <h1>@Model.PersonalDetails.Name</h1>
        </div>
        <div class="col-2 mt-3 mb-3 text-center">
            <img class="img-fluid rounded-circle" src="@Model.PersonalDetails.Photo" />
        </div>
        <div class="col-5 justify-content-center align-self-center">
            <h1>@Model.PersonalDetails.LastName</h1>
        </div>
        @if (Model.PersonalDetails.Profession != null)
        {
            <div class="col cv-legend">
                <h4>@Model.PersonalDetails.Profession</h4>
            </div>
        }
    </div>
    <div class="row">
        <div class="col-4 left-panel">
            <div class="row">
                <div class="col">
                    <h5><i class="far fa-calendar-check highlight"></i> @(Model.PersonalDetails.SummaryCustomTitle ?? CurriculumGlobals.DEFAULT_SUMMARY_TITLE)</h5>
                    <hr />
                </div>
            </div>
            <div class="row no-gutters justify-content-end">
                <div class="col-11">
                    <p>@Model.PersonalDetails.Summary</p>
                </div>
            </div>

            @if (Model.Skills.Count() > 0)
            {
                <div class="row">
                    <div class="col">
                        <h5><i class="fas fa-star highlight"></i> Habilidades</h5>
                        <hr />
                    </div>
                </div>
                foreach (var skill in Model.Skills)
                {
                    <div class="row no-gutters justify-content-end">
                        <div class="col-11">
                            <span>@skill.Name</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-@skill.Level" role="progressbar"></div>
                            </div>
                        </div>
                    </div>
                }
            }
            
            <div class="row no-gutters contact">
                <div class="col">
                    <h5><i class="far fa-comment highlight"></i> Contacto</h5>
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-3 text-right">
                    <i class="fas fa-globe-americas highlight"></i>
                </div>
                <div class="col-9 pl-0">
                    <span>@Model.PersonalDetails.Email</span>
                    @if (Model.PersonalDetails.WebPageUrl != null) {<span>@Model.PersonalDetails.WebPageUrl</span>}
                </div>
            </div>

            @if (Model.PersonalDetails.MobilePhone != null || Model.PersonalDetails.LinePhone != null)
            {
                <div class="row">
                    <div class="col-3 text-right">
                        <i class="fas fa-phone-volume highlight"></i>
                    </div>
                    <div class="col-9">
                        @if (Model.PersonalDetails.MobilePhone != null) {<span>@Model.PersonalDetails.MobilePhone</span>}
                        @if (Model.PersonalDetails.LinePhone != null) {<span>@Model.PersonalDetails.LinePhone</span>}
                    </div>
                </div>
            }
            
            @if (Model.PersonalDetails.FacebookUrl != null)
            {
                <div class="row">
                    <div class="col-3 text-right">
                        <i class="fab fa-facebook-square highlight"></i>
                    </div>
                    <div class="col-9">
                        <span>@Model.PersonalDetails.FacebookUrl</span>
                    </div>
                </div>
            }

            @if (Model.PersonalDetails.TwitterUrl != null)
            {
                <div class="row">
                    <div class="col-3 text-right">
                        <i class="fab fa-twitter highlight"></i>
                    </div>
                    <div class="col-9">
                        <span>@Model.PersonalDetails.TwitterUrl</span>
                    </div>
                </div>
            }

            @if (Model.PersonalDetails.LinkedInUrl != null)
            {
                <div class="row">
                    <div class="col-3 text-right">
                        <i class="fab fa-linkedin highlight"></i>
                    </div>
                    <div class="col-9">
                        <span>@Model.PersonalDetails.LinkedInUrl</span>
                    </div>
                </div>
            }

            @if (Model.PersonalDetails.GithubUrl != null)
            {
                <div class="row">
                    <div class="col-3 text-right">
                        <i class="fab fa-github highlight"></i>
                    </div>
                    <div class="col-9">
                        <span>@Model.PersonalDetails.GithubUrl</span>
                    </div>
                </div>
            }
        </div>
        <div class="col-8 right-panel">
            @if (Model.WorkExperiences.Count() > 0)
            {
                <div class="row">
                    <div class="col">
                        <h5><i class="fas fa-briefcase highlight"></i> Experiencia laboral</h5>
                        <hr />
                    </div>
                </div>
                foreach (var work in Model.WorkExperiences)
                {
                    <div class="row no-gutters justify-content-start">
                        <div class="col-11">
                            <h5 class="d-inline highlight">@work.Job</h5>
                            @if (work.StateInTime != string.Empty) {<h5 class="d-inline legend"> | @work.StateInTime</h5>}
                            <p class="subtitle">@work.Company | @work.City</p>
                            @if (!string.IsNullOrWhiteSpace(work.Description)) {<p>@work.Description</p>}
                        </div>
                    </div>
                }
            }

            @if (Model.Studies.Count() > 0)
            {
                <div class="row">
                    <div class="col">
                        <h5><i class="fas fa-graduation-cap highlight"></i> Estudios</h5>
                        <hr />
                    </div>
                </div>
                foreach (var study in Model.Studies)
                {
                    <div class="row no-gutters justify-content-start">
                        <div class="col-11">
                            <h5 class="d-inline highlight">@study.Title</h5>
                            @if (study.StateInTime != string.Empty) {<h5 class="d-inline legend"> | @study.StateInTime</h5>}
                            <p class="subtitle">@study.Institute | @study.City</p>
                            @if (!string.IsNullOrWhiteSpace(study.Description)) {<p>@study.Description</p>}
                        </div>
                    </div>
                }
            }
            <div class="row">
                <div class="col">
                    <h5><i class="fas fa-graduation-cap highlight"></i> Estudios</h5>
                    <hr />
                </div>
            </div>
            <div class="row no-gutters justify-content-start">
                <div class="col-11">
                    <h5 class="d-inline highlight">Diseñador gráfico</h5>
                    <h5 class="d-inline legend"> | 2011-2016</h5>
                    <p class="subtitle">Universidad Nacional | Ciudad Autónoma de Buenos Aires</p>
                </div>
            </div>
            <div class="row no-gutters justify-content-start">
                <div class="col-11">
                    <h5 class="d-inline highlight">Bachiller en Economía</h5>
                    <h5 class="d-inline legend"> | 1997-2010</h5>
                    <p class="subtitle">Escuela Nº111 | Ciudad Autónoma de Buenos Aires</p>
                </div>
            </div>

            @if (Model.PersonalReferences.Count() > 0)
            {
                <div class="row">
                    <div class="col">
                        <h5><i class="fas fa-chalkboard-teacher highlight"></i> Referencias personales</h5>
                        <hr />
                    </div>
                </div>
                foreach (var reference in Model.PersonalReferences)
                {
                    <div class="row no-gutters justify-content-start">
                        <div class="col-11">
                            <h5 class="d-inline highlight">@reference.ContactPerson</h5>
                            <h5 class="d-inline legend"> | @reference.Email</h5>
                            <p class="subtitle">@reference.Company @if (reference.PhoneNumber != null) {<label> | @reference.PhoneNumber</label>}</p>
                        </div>
                    </div>
                }
            }

            @if (Model.Languages.Count() > 0)
            {
                <div class="row">
                    <div class="col">
                        <h5><i class="fas fa-language highlight"></i> Idiomas</h5>
                        <hr />
                        <div class="row">
                            @foreach (var language in Model.Languages)
                            {
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-6">
                                            <span>@language.Name</span>
                                        </div>
                                        <div class="col-6 align-self-center">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-@language.Level" role="progressbar"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }

            @if (Model.Interests.Count() > 0)
            {
                <div class="row">
                    <div class="col">
                        <h5><i class="fas fa-bullhorn highlight"></i> Intereses</h5>
                        <hr />
                        <p class="pt-2">
                            @{
                                List<string> text = new List<string>();
                                foreach (var interest in Model.Interests)
                                {
                                    text.Add(interest.Name);
                                }
                                @String.Join(", ", text);
                            }
                        </p>
                    </div>
                </div>
            }

            @if (Model.CustomSections.Count() > 0)
            {
                foreach (var custom in Model.CustomSections)
                {
                    <div class="row">
                        <div class="col">
                            <h5><i class="fas fa-chalkboard-teacher highlight"></i> @custom.SectionName</h5>
                            <hr />
                        </div>
                    </div>
                    <div class="row no-gutters justify-content-start">
                        <div class="col-11">
                            <p class="subtitle white-space-pre-wrap">@custom.Description</p>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>