@model CVBuilder.ViewModels.Curriculum.SkillsViewModel

@using (Ajax.BeginForm("Skills", "Curriculum", new AjaxOptions() { HttpMethod = "POST", OnSuccess = "onSectionFormSuccessful", OnFailure = "onErrorSubmit" }, new { id = Model.FormId }))
{
    <hr />
    <fieldset>
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.SkillID)
        @Html.HiddenFor(m => m.Type)
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Nombre de la habilidad</label>
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Ej: Microsoft Word" })
                    @Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Nivel</label>
                    @Html.DropDownListFor(m => m.Level, Model.Levels, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Level, null, new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </fieldset>

    <div class="row">
        <div class="col">
            <div class="btn-group btn-block">
                <button type="submit" class="btn btn-sm btn-outline-success"><i class="fas fa-check"></i> Hecho</button>&nbsp;
                <button type="button" class="btn btn-sm btn-outline-danger remove-form-block"><i class="far fa-trash-alt"></i> Eliminar</button>
            </div>
        </div>
    </div>
}
