@model CVBuilder.ViewModels.Curriculum.StudiesViewModel

@using (Ajax.BeginForm("Studies", "Curriculum", null, new AjaxOptions() { HttpMethod = "POST", OnSuccess = "onSectionFormSuccessful" }, new { id = Model.FormId }))
{
    <hr />
    <fieldset>
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.StudyID)
        @Html.HiddenFor(m => m.Type)
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>Título académico</label>
                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control", autofocus = "true" })
                    @Html.ValidationMessageFor(m => m.Title, null, new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Instituto</label>
                    @Html.TextBoxFor(m => m.Institute, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Institute, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Ciudad</label>
                    @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.City, null, new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Fecha de ingreso</label>
                    <div class="row">
                        <div class="col-lg-8">
                            @Html.DropDownListFor(m => m.StartMonth, Model.StartPeriod.Months, new { @class = "form-control" })
                        </div>
                        <div class="col-lg-4">
                            @Html.DropDownListFor(m => m.StartYear, Model.StartPeriod.Years, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.StartYear, null, new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Fecha de finalización</label>
                    <div class="row">
                        <div class="col-lg-8">
                            @Html.DropDownListFor(m => m.EndMonth, Model.EndPeriod.Months, new { @class = "form-control" })
                        </div>
                        <div class="col-lg-4">
                            @Html.DropDownListFor(m => m.EndYear, Model.EndPeriod.Years, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.EndYear, null, new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>Información adicional</label>
                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = "3", placeholder = "Máximo 300 caracteres..." })
                    @Html.ValidationMessageFor(m => m.Description, null, new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </fieldset>

    <div class="row">
        <div class="col">
            <div class="btn-group btn-block">
                <button type="submit" class="btn btn-sm btn-outline-success"><i class="fas fa-check"></i> Hecho</button>&nbsp;
                <button type="button" class="btn btn-sm btn-outline-danger remove-form-block"><i class="far fa-trash-alt"></i> Eliminar</button>
            </div>
        </div>
    </div>
}
