@model CVBuilder.ViewModels.Curriculum.WorkExperiencesViewModel

@using (Ajax.BeginForm("WorkExperiences", "Curriculum", new AjaxOptions() { HttpMethod = "POST", OnSuccess = "onSectionFormSuccessful", OnFailure = "onErrorSubmit" }, new { id = Model.FormId }))
{
    <hr />
    <fieldset>
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.WorkExperienceID)
        @Html.HiddenFor(m => m.Type)
        <div class="row">
            <div class="col">
                <div class="custom-control custom-switch pb-4">
                    @Html.CheckBoxFor(m => m.IsVisible, new { @class = "custom-control-input" })
                    <label class="custom-control-label" for="IsVisible">Bloque visible</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>Puesto de trabajo</label>
                    @Html.TextBoxFor(m => m.Job, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Job, null, new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Empresa</label>
                    @Html.TextBoxFor(m => m.Company, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Company, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Ciudad</label>
                    @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.City, null, new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Fecha de ingreso</label>
                    <div class="row">
                        <div class="col-lg-8">
                            @Html.DropDownListFor(m => m.StartMonth, Model.StartPeriod.Months, new { @class = "custom-select" })
                        </div>
                        <div class="col-lg-4">
                            @Html.DropDownListFor(m => m.StartYear, Model.StartPeriod.Years, new { @class = "custom-select" })
                            @Html.ValidationMessageFor(m => m.StartYear, null, new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Fecha de finalización</label>
                    <div class="row">
                        <div class="col-lg-8">
                            @Html.DropDownListFor(m => m.EndMonth, Model.EndPeriod.Months, new { @class = "custom-select" })
                        </div>
                        <div class="col-lg-4">
                            @Html.DropDownListFor(m => m.EndYear, Model.EndPeriod.Years, new { @class = "custom-select" })
                            @Html.ValidationMessageFor(m => m.EndYear, null, new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>Información adicional</label>
                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = "3", placeholder = "Máximo 300 caracteres..." })
                    @Html.ValidationMessageFor(m => m.Description, null, new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </fieldset>

    <div class="row">
        <div class="col">
            <div class="btn-group btn-block">
                <button type="submit" class="btn btn-sm btn-outline-success"><i class="fas fa-check"></i> Hecho</button>&nbsp;
                <button type="button" class="btn btn-sm btn-outline-danger remove-form-block"><i class="far fa-trash-alt"></i> Eliminar</button>
            </div>
        </div>
    </div>
}
