@using CVBuilder.enums;
@model CVBuilder.ViewModels.Curriculum.BuildViewModel

@{
    ViewBag.Title = "Elabore su curriculum profesional";
}

<link href="~/css/build-cv.css" type="text/css" rel="stylesheet" />

@section curriculum_build {
        <script src="~/js/build-cv.js" type="text/javascript"></script>
        <script src="~/js/validations-cv.js" type="text/javascript"></script>
        @*<script src="http://jqueryvalidation.org/files/dist/additional-methods.min.js"></script>*@
    }

<section class="building-cv">

    <div class="container">
        <div class="row btn-group-row">
            <div class="col">
                <div class="btn-group tabs-group mb-3">
                    <button type="button" class="btn btn-outline-default" data-value="personal_details">Detalles personales</button>
                    <button type="button" class="btn btn-outline-default" data-value="studies_experiencies">Estudios y experiencias laborales</button>
                    <button type="button" class="btn btn-outline-default" data-value="other_information">Otra información</button>
                    <button type="button" class="btn btn-outline-default" data-value="own_sections">Secciones personalizadas</button>
                </div>
            </div>
        </div>
        <div class="row flex-column-reverse flex-lg-row">
            <div class="col-lg-3">
                <div class="card cv-preview border-success mb-3">
                    <img class="img-fluid" src="@Model.PreviewPath">
                    <button id="choose_template" class="btn btn-sm btn-outline-success py-2 invisible" data-toggle="modal" data-target="#template_wizard">Cambiar plantilla</button>
                </div>
                <div class="card border-success mb-3">
                    <div class="card-body">
                        <p><i class="far fa-lightbulb"></i> Los campos y/o secciones sin completar no aparecerán en tu CV al finalizar.</p>
                        <p><i class="far fa-lightbulb"></i> Las secciones marcadas como "ocultas" no se verán pero conservarán los datos ingresados en ellas.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 cv-sections">
                <div id="@SectionIds.PersonalDetails" class="d-none">
                    <div class="card border-success overflow-hidden mb-3">
                        <div class="card-body">
                            <h4>Detalles personales</h4>
                            @Html.Partial("_PersonalDetailsForm", Model.PersonalDetails)
                        </div>
                    </div>
                </div>
                <div id="studies_experiencies" class="d-none">
                    <div class="card border-success overflow-hidden mb-3">
                        <section id="@SectionIds.Studies" class="card-body">
                            <h4>Estudios</h4>
                            <div class="row mb-4">
                                <div class="col">
                                    <div class="custom-control custom-switch">
                                        @Html.CheckBoxFor(m => m.SectionVisibility.StudiesIsVisible, new { @class = "custom-control-input toggle-section-visibility", data_section = SectionIds.Studies })
                                        <label class="custom-control-label" for="SectionVisibility_StudiesIsVisible">Visible</label>
                                    </div>
                                </div>
                            </div>

                            <div class="summary-block-wrapper @if(!Model.SectionVisibility.StudiesIsVisible) {<text>section-not-visible</text>}">
                                <div class="row">
                                    <div class="col">
                                        <div class="contracted-block-group">
                                            @if (Model.StudyBlocks.Count > 0)
                                            {
                                                foreach (var block in Model.StudyBlocks)
                                                {
                                                    @Html.Partial("_SummaryBlock", block);
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col text-center">
                                        <button type="button" class="btn btn-outline-secondary add-block"><i class="fas fa-plus"></i> Agregar un bloque</button>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>

                    <div class="card border-success overflow-hidden mb-3">
                        <section id="@SectionIds.Certificates" class="card-body">
                            <h4>Certificados / Cursos</h4>
                            <div class="row mb-4">
                                <div class="col">
                                    <div class="custom-control custom-switch">
                                        @Html.CheckBoxFor(m => m.SectionVisibility.CertificatesIsVisible, new { @class = "custom-control-input toggle-section-visibility", data_section = SectionIds.Certificates })
                                        <label class="custom-control-label" for="SectionVisibility_CertificatesIsVisible">Visible</label>
                                    </div>
                                </div>
                            </div>

                            <div class="summary-block-wrapper @if(!Model.SectionVisibility.CertificatesIsVisible) {<text>section-not-visible</text>}">
                                <div class="row">
                                    <div class="col">
                                        <div class="contracted-block-group">
                                            @if (Model.CertificateBlocks.Count > 0)
                                            {
                                                foreach (var block in Model.CertificateBlocks)
                                                {
                                                    @Html.Partial("_SummaryBlock", block);
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col text-center">
                                        <button type="button" class="btn btn-outline-secondary add-block"><i class="fas fa-plus"></i> Agregar un bloque</button>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>

                    <div class="card border-success overflow-hidden mb-3">
                        <section id="@SectionIds.WorkExperiences" class="card-body">
                            <h4>Experiencia laboral</h4>
                            <div class="row mb-4">
                                <div class="col">
                                    <div class="custom-control custom-switch">
                                        @Html.CheckBoxFor(m => m.SectionVisibility.WorkExperiencesIsVisible, new { @class = "custom-control-input toggle-section-visibility", data_section = SectionIds.WorkExperiences })
                                        <label class="custom-control-label" for="SectionVisibility_WorkExperiencesIsVisible">Visible</label>
                                    </div>
                                </div>
                            </div>

                            <div class="summary-block-wrapper @if(!Model.SectionVisibility.WorkExperiencesIsVisible) {<text>section-not-visible</text>}">
                                <div class="row">
                                    <div class="col">
                                        <div class="contracted-block-group">
                                            @if (Model.WorkExperienceBlocks.Count > 0)
                                            {
                                                foreach (var block in Model.WorkExperienceBlocks)
                                                {
                                                    @Html.Partial("_SummaryBlock", block);
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col text-center">
                                        <button type="button" class="btn btn-outline-secondary add-block"><i class="fas fa-plus"></i> Agregar un bloque</button>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div id="other_information" class="d-none">
                    <div class="card border-success overflow-hidden mb-3">
                        <section id="@SectionIds.Languages" class="card-body">
                            <h4>Idiomas</h4>
                            <div class="row mb-4">
                                <div class="col">
                                    <div class="custom-control custom-switch">
                                        @Html.CheckBoxFor(m => m.SectionVisibility.LanguagesIsVisible, new { @class = "custom-control-input toggle-section-visibility", data_section = SectionIds.Languages })
                                        <label class="custom-control-label" for="SectionVisibility_LanguagesIsVisible">Visible</label>
                                    </div>
                                </div>
                            </div>

                            <div class="summary-block-wrapper @if(!Model.SectionVisibility.LanguagesIsVisible) {<text>section-not-visible</text>}">
                                <div class="row">
                                    <div class="col">
                                        <div class="contracted-block-group">
                                            @if (Model.LanguageBlocks.Count > 0)
                                            {
                                                foreach (var block in Model.LanguageBlocks)
                                                {
                                                    @Html.Partial("_SummaryBlock", block);
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col text-center">
                                        <button type="button" class="btn btn-outline-secondary add-block"><i class="fas fa-plus"></i> Agregar un bloque</button>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>

                    <div class="card border-success overflow-hidden mb-3">
                        <section id="@SectionIds.Skills" class="card-body">
                            <h4>Habilidades</h4>
                            <div class="row mb-4">
                                <div class="col">
                                    <div class="custom-control custom-switch">
                                        @Html.CheckBoxFor(m => m.SectionVisibility.SkillsIsVisible, new { @class = "custom-control-input toggle-section-visibility", data_section = SectionIds.Skills })
                                        <label class="custom-control-label" for="SectionVisibility_SkillsIsVisible">Visible</label>
                                    </div>
                                </div>
                            </div>

                            <div class="summary-block-wrapper @if(!Model.SectionVisibility.SkillsIsVisible) {<text>section-not-visible</text>}">
                                <div class="row">
                                    <div class="col">
                                        <div class="contracted-block-group">
                                            @if (Model.SkillBlocks.Count > 0)
                                            {
                                                foreach (var block in Model.SkillBlocks)
                                                {
                                                    @Html.Partial("_SummaryBlock", block);
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col text-center">
                                        <button type="button" class="btn btn-outline-secondary add-block"><i class="fas fa-plus"></i> Agregar un bloque</button>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>

                    <div class="card border-success overflow-hidden mb-3">
                        <section id="@SectionIds.Interests" class="card-body">
                            <h4>Intereses / Hobbies</h4>
                            <div class="row mb-4">
                                <div class="col">
                                    <div class="custom-control custom-switch">
                                        @Html.CheckBoxFor(m => m.SectionVisibility.InterestsIsVisible, new { @class = "custom-control-input toggle-section-visibility", data_section = SectionIds.Interests })
                                        <label class="custom-control-label" for="SectionVisibility_InterestsIsVisible">Visible</label>
                                    </div>
                                </div>
                            </div>

                            <div class="summary-block-wrapper @if(!Model.SectionVisibility.InterestsIsVisible) {<text>section-not-visible</text>}">
                                <div class="row">
                                    <div class="col">
                                        <div class="contracted-block-group">
                                            @if (Model.InterestBlocks.Count > 0)
                                            {
                                                foreach (var block in Model.InterestBlocks)
                                                {
                                                    @Html.Partial("_SummaryBlock", block);
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col text-center">
                                        <button type="button" class="btn btn-outline-secondary add-block"><i class="fas fa-plus"></i> Agregar un bloque</button>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>

                    <div class="card border-success overflow-hidden mb-3">
                        <section id="@SectionIds.PersonalReferences" class="card-body">
                            <h4>Referencias personales</h4>
                            <div class="row mb-4">
                                <div class="col">
                                    <div class="custom-control custom-switch">
                                        @Html.CheckBoxFor(m => m.SectionVisibility.PersonalReferencesIsVisible, new { @class = "custom-control-input toggle-section-visibility", data_section = SectionIds.PersonalReferences })
                                        <label class="custom-control-label" for="SectionVisibility_PersonalReferencesIsVisible">Visible</label>
                                    </div>
                                </div>
                            </div>

                            <div class="summary-block-wrapper @if(!Model.SectionVisibility.InterestsIsVisible) {<text>section-not-visible</text>}">
                                <div class="row">
                                    <div class="col">
                                        <div class="contracted-block-group">
                                            @if (Model.PersonalReferenceBlocks.Count > 0)
                                            {
                                                foreach (var block in Model.PersonalReferenceBlocks)
                                                {
                                                    @Html.Partial("_SummaryBlock", block);
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col text-center">
                                        <button type="button" class="btn btn-outline-secondary add-block"><i class="fas fa-plus"></i> Agregar un bloque</button>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div id="own_sections" class="d-none">
                    <div class="card border-success overflow-hidden mb-3">
                        <section id="@SectionIds.CustomSections" class="card-body">
                            <h4>Secciones personalizadas</h4>
                            <div class="row mb-4">
                                <div class="col">
                                    <div class="custom-control custom-switch">
                                        @Html.CheckBoxFor(m => m.SectionVisibility.CustomSectionsIsVisible, new { @class = "custom-control-input toggle-section-visibility", data_section = SectionIds.CustomSections })
                                        <label class="custom-control-label" for="SectionVisibility_CustomSectionsIsVisible">Visible</label>
                                    </div>
                                </div>
                            </div>

                            <div class="summary-block-wrapper @if(!Model.SectionVisibility.InterestsIsVisible) {<text>section-not-visible</text>}">
                                <div class="row">
                                    <div class="col">
                                        <div class="contracted-block-group">
                                            @if (Model.CustomSectionBlocks.Count > 0)
                                            {
                                                foreach (var block in Model.CustomSectionBlocks)
                                                {
                                                    @Html.Partial("_SummaryBlock", block);
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col text-center">
                                        <button type="button" class="btn btn-outline-secondary add-block"><i class="fas fa-plus"></i> Agregar un bloque</button>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div id="navigation_buttons_wrapper">
                    <div id="navigation_buttons" class="row text-center">
                        <div class="col">
                            <div class="btn-group">
                                <button id="previous_page" type="button" class="btn btn-default"><i class="fas fa-arrow-alt-circle-left"></i> Anterior</button>
                                <a href="/Curriculum/Finished" class="btn btn-default"><i class="fas fa-save"></i> Visualizar CV</a>
                                <button id="next_page" type="button" class="btn btn-default">Siguiente <i class="fas fa-arrow-alt-circle-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

@Html.Partial("_ModalTemplate", Model.PreviewPath)
